/* ------------------------------------------------------------ 🌷 PADDING WINDOW ------------------------------------------------------------ */

:root {
    --background-image-blur: 0px;
    --window-padding: 10px;
    --window-roundness: 16px;
    --TB-top: calc(var(--server-container) + var(--window-padding));
    --TB-tr-roundness: var(--window-roundness);
    --TB-position-top: var(--TB-top, var(--window-padding));
    --TB-position-right: var(--window-padding);
}

/* ---- Main Background ---- */
#app-mount::before {
    content: "";
    position: absolute;
    background: linear-gradient(
        90deg,
        rgb(143, 51, 236) 0%,
        rgb(247, 34, 186) 50%,
        rgb(250, 107, 107) 100%
    );
    height: calc(100vh + (var(--background-image-blur) * 2));
    width: calc(100vw + (var(--background-image-blur) * 2));
}
#app-mount .layers-OrUESM,
#app-mount .layerContainer-2v_Sit {
    overflow: hidden;
    margin: var(--window-padding);
    border-radius: var(--window-roundness);
}
#app-mount .layer-86YKbF.baseLayer-W6S8cY {
    background-color: var(--background-tertiary);
}
#app-mount,
body,
.app-2CXKsg,
.bg-1QIAus {
    background-color: transparent;
}

/* ------------------------------------------------------------ 🌱 WINDOWS BUTTONS ------------------------------------------------------------ */

/* ---- Sizes and Locations ---- */
.platform-win .scroller-2TZvBN {
    padding-top: 10px;
}
.platform-win .typeWindows-2-g3UY {
    height: 10px;
    width: 100%;
    top: 1px;
    left: 0;
    margin-top: 0;
    position: absolute;
    background: transparent;
}
.platform-win .winButton-3UMjdg {
    position: relative;
    top: calc(var(--TB-position-top, 0px) - 1px);
    right: var(--TB-position-right, 0px);
    height: var(--TB-height, 48px);
    width: var(--TB-width, 40px);
}
.platform-win .winButtonClose-3Q8ZH5 {
    border-top-right-radius: var(--TB-tr-roundness);
}
.platform-win .container-ZMc96U {
    padding-right: var(--TB-header-padding, 125px);
}
.platform-win .wordmarkWindows-2dq6rw {
    display: none;
}
.platform-win .bd-detached-editor .winButton-3UMjdg {
    right: 30%;
}

/* ---- Colors and Transitions ---- */
.winButtonClose-3Q8ZH5 {
    transition: ease-out 0.4s;
    color: var(--red);
}
.winButtonClose-3Q8ZH5:hover {
    color: var(--red);
    background-color: var(--red4);
}
.winButtonMinMax-3RsPUg:nth-child(3) {
    transition: ease-out 0.4s;
    color: var(--yellow);
}
.winButtonMinMax-3RsPUg:nth-child(3):hover {
    background-color: var(--yellow4);
}
.winButtonMinMax-3RsPUg:last-child {
    transition: ease-out 0.4s;
    color: var(--green);
}
.winButtonMinMax-3RsPUg:last-child:hover {
    background-color: var(--green4);
}
